{% extends "bootstrap/base.html" %} {% block title %}challenger league{% endblock %} {% block content %}
<main class="container">
    <section>
        <h3>
            <button id="updateBtn" class="btn btn-primary">更新</a>
        </h3>
        <table class="table table-striped">
            {% for challenger in challenger_list %}
            <tr>
                <td>{{loop.index}}</td>
                <td>{{challenger.player_or_team_name}}</td>
                <td>{{challenger.wins}}</td>
                <td>{{challenger.losses}}</td>
                <td>{{challenger.league_points}}</td>
            </tr>
            {% endfor %}
        </table>

    </section>
</main>
<script>
    document.getElementById("updateBtn").onclick = function () {
        var xhr = new XMLHttpRequest();
        xhr.open("POST", "/post_challenger_league", true);
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.send(JSON.stringify({

        }));

        xhr.onreadystatechange = function () {
            if (this.readyState != 4) return;
            
            if (this.status == 200) {
                window.location.replace(this.responseText);
            }
        };
    };

</script> {% endblock %}