{% extends "bootstrap/base.html" %} {% block title %}challenger league{% endblock %} {% block content %}
<main class="container">
    <section>
        <table class="table table-striped">
            {% for challenger in challenger_list %}
            <tr>
                <td>{{loop.index}}</td>
                <td>{{challenger.player_or_team_name}}</td>
                <td>{{challenger.wins}}</td>
                <td>{{challenger.losses}}</td>
                <td>{{challenger.league_points}}</td>
            </tr>
            {% endfor %}
        </table>

    </section>
</main>
{% endblock %}