{% extends "bootstrap/base.html" %} {% block title %}my_lol_app{% endblock %} {% block content %}
<main class="container">
    <section>
        <table class="table table-striped">
            {% for game_match in game_match_list %}
            <tr>
                <td>{{loop.index}}</td>
                <td>{{game_match.champion|champion_id_format}}</td>
                <td>{{game_match.lane}}</td>
                <td>{{game_match.queue}}</td>
                <td>{{game_match.match_timestamp|timestamp_format}}</td>
                <td>
                    <a href="/get_game_detail/{{game_match.game_id}}">詳細數據</a>
                </td>
            </tr>
            {% endfor %}
        </table>

    </section>
</main>
{% endblock %}