{% extends "bootstrap/base.html" %} 
{% block title %}my_lol_app{% endblock %} 
 
        {% block content %}
        
            <main class="container">
                <ol>
                    {% for summoner in summoner_list %}
                    <li>
                        <a href="/get_summoner_detail/{{ summoner.name }}">{{ summoner.name }}</a>
                    </li>
                    {% endfor %}
                </ol>
            </main>

            <form class="form-inline" action="/post_summoner" method="POST">
                <div class="form-group">
                        <label for="summonerName">Summoner Name</label>
                        <input name="summonerName" type="text" class="form-control" id="summonerName" placeholder="Summoner Name" >
                      </div>
                <button class="btn btn-primary" type="submiit">add</button>
            </form>
        {% endblock %}    
