{% extends "bootstrap/base.html" %} {% block title %}{{summoner.name}}{% endblock %} {% block content %}
<div class="container">
    <h2>{{summoner.name}}</h2>
    <section>
        <a href="/put_summoner_detail/{{summoner.account_id}}" class="btn btn-primary">更新</a>
        <a href="/get_all_game_match/{{summoner.account_id}}" class="btn btn-primary">對戰紀錄</a>
        <a href="/post_recent_game_match/{{summoner.account_id}}" class="btn btn-primary">更新對戰紀錄</a>
    </section>
    <br/>
    <section>
        <form class="form-inline" action="/get_statistics_champion_use/{{summoner.account_id}}">
            <div class="form-group">
                <label for="lane">Lane</label>
                <input name="lane" type="text" class="form-control" id="lane" placeholder="BOTTOM">
            </div>
            <button class="btn btn-primary" type="submiit">submit</button>
        </form>
    </section>
    <br/>
    <section>

        <form class="form-inline" id="filterForm">
            <img src="{{ url_for('static', filename='img/question.png') }}" id="selectedChampion" class="img-thumbnail" data-toggle="modal"
                data-target="#champion_select" data-champion-id="-1">
            <img src="{{ url_for('static', filename='img/question.png') }}" id="selectedLane" class="img-thumbnail" data-toggle="modal"
                data-target="#lane_select" data-lane-id="-1">

            <select class="form-control" name="version">
                {% for version in version_list %}
                <option>{{version.get_version()}}</option>
                {% endfor %}
            </select>
            <input type="date" class="form-control" name="startDate">
            <input type="date" class="form-control" name="endDate">
            <button class="btn btn-primary" type="button" id="btnFilterWinRate">submit</button>
        </form>



        <div class="modal fade" id="champion_select" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <div class="form-inline">
                            <label for="championName">champion Name</label>
                            <input type="text" class="form-control" id="championNameInput" placeholder="Annie">
                        </div>

                    </div>
                    <div class="modal-body" id="championImgContainer">

                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="lane_select" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-body" id="lanImgContainer">
                        <img src="{{ url_for('static', filename='img/Top_icon.png') }}" class="img-thumbnail laneImg" data-toggle="modal" data-target="#lane_select"
                            data-lane-id="-1">
                        <img src="{{ url_for('static', filename='img/Jungle_icon.png') }}" class="img-thumbnail laneImg" data-toggle="modal" data-target="#lane_select"
                            data-lane-id="-1">
                        <img src="{{ url_for('static', filename='img/Mid_icon.png') }}" class="img-thumbnail laneImg" data-toggle="modal" data-target="#lane_select"
                            data-lane-id="-1">
                        <img src="{{ url_for('static', filename='img/Bot_icon.png') }}" class="img-thumbnail laneImg" data-toggle="modal" data-target="#lane_select"
                            data-lane-id="-1">
                        <img src="{{ url_for('static', filename='img/Support_icon.png') }}" class="img-thumbnail laneImg" data-toggle="modal" data-target="#lane_select"
                            data-lane-id="-1">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <table class="table table-striped">
            <thead>
                <th>champion</th>
                <th>win rate</th>
                <th>kills</th>
                <th>deaths</th>
                <th>assists</th>
                <th>KDA</th>
                <th>pick count</th>
            </thead>
            <tbody id="winRateTb">
                {% for win_rate in win_rate_list %}
                <tr>
                    <td>
                        <img src="{{win_rate['championId']|champion_img_format}}" alt="{{win_rate['championId']|champion_id_format}}">
                    </td>
                    <td>{{(win_rate['winRate']*100)|round(2)}}%</td>
                    <td>{{win_rate['avgKills']|round(2)}}</td>
                    <td>{{win_rate['avgDeaths']|round(2)}}</td>
                    <td>{{win_rate['avgAssists']|round(2)}}</td>
                    <td>{% if win_rate['avgDeaths'] > 0 %} {{((win_rate['avgKills'] + win_rate['avgAssists'])/win_rate['avgDeaths'])|round(2)}}
                        {% endif %}</td>
                    <td>{{win_rate['pick_count']}}</td>

                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
</div>

{% endblock %} {% block scripts %} {{super()}}
<script>
    $(document).ready(function () {
        

        $('#btnFilterWinRate').click(function () {
            var formData = $('#filterForm').serializeArray();
            formData.push({ name: "accountId", value: {{ summoner.account_id }} }, { name: "championId", value: $('#selectedChampion').data('champion-id') }, { name: "lane", value: $('#selectedLane').data('lane-id') });
            console.log($.param(formData))
        $.post("/post_filter_win_rate", $.param(formData)).done(function (data) {
            console.log(data);
            winRateObj = JSON.parse(data);
            $('#winRateTb').empty();
            winRateObj.forEach(function(winRateData){
                var trElement = document.createElement('tr');
                var tdImg = '<td><img src="'+winRateData.championId+'"></td>';
                var tdWinRate = '<td>'+(parseFloat(winRateData.winRate * 100)).toFixed(2)+'%</td>';
                var tdAvgKills = '<td>'+parseFloat(winRateData.avgKills).toFixed(2)+'</td>';
                var tdAvgDeaths = '<td>'+parseFloat(winRateData.avgDeaths).toFixed(2)+'</td>';
                var tdAvgAssists = '<td>'+parseFloat(winRateData.avgAssists).toFixed(2)+'</td>';
                var tdKDA = '<td>'+Math.round(100*(parseFloat(winRateData.avgKills)+parseFloat(winRateData.avgAssists))/parseFloat(winRateData.avgDeaths))/100+'</td>';
                var tdPick_count =  '<td>'+winRateData.pick_count+'</td>';
                $(trElement).append(tdImg,tdWinRate,tdAvgKills,tdAvgDeaths,tdAvgAssists,tdKDA,tdPick_count);
                $('#winRateTb').append(trElement);
            });
        });
    });

    $('.laneImg').click(function () {
        $('#selectedLane').attr('src', $(this).attr('src'));
    });

    document.getElementById('championNameInput').addEventListener("input", function () {
        $('.championImgs').each(function () {
            $(this).removeClass('hidden');
        });
        var filterStr = this.value.toLowerCase();
        if (filterStr) {
            $('.championImgs').each(function () {
                var championName = $(this).attr('data-championName').toLowerCase();
                if (!championName.startsWith(filterStr)) {
                    $(this).addClass('hidden');
                }
            });
        }
    });

    $('#champion_select').on('show.bs.modal', function () {

        if ($('#championImgContainer').children().length === 0) {
            var xhr = new XMLHttpRequest();
            xhr.open("POST", "/get_all_champion_img", true);
            xhr.setRequestHeader('Content-Type', 'application/json');
            xhr.send(JSON.stringify({

            }));

            xhr.onreadystatechange = function () {
                if (this.readyState != 4) return;

                if (this.status == 200) {
                    var championImgs = JSON.parse(this.responseText);
                    Object.keys(championImgs).forEach(function (key) {
                        var imgUrl = championImgs[key];
                        var tempLenth = "champion/".length;
                        var championName = imgUrl.substr(imgUrl.indexOf("champion/") + tempLenth, imgUrl.lastIndexOf(".png") - imgUrl.indexOf("champion/") - tempLenth);
                        var imgElement = '<img src="' + imgUrl + '"  class="img-thumbnail championImgs" data-dismiss="modal" data-champion-id="' + key + '" data-championName = "' + championName + '">';
                        $('#championImgContainer').append(imgElement);
                    })
                }
                $('.championImgs').on('click', function () {
                    $('#selectedChampion').attr('src', $(this).attr('src'));
                    $('#selectedChampion').data('champion-id', $(this).attr('data-champion-id'));
                });
            };
        }
    })
    });
</script> {% endblock %}