{% extends "bootstrap/base.html" %} {% block title %}{{summoner.name}}{% endblock %} {% block content %}
<div class="container">
    <h2>{{summoner.name}}</h2>
    <section>
        <a href="/put_summoner_detail/{{summoner.account_id}}" class="btn btn-primary">更新</a>
        <a href="/get_all_game_match/{{summoner.account_id}}" class="btn btn-primary">對戰紀錄</a>
        <a href="/post_recent_game_match/{{summoner.account_id}}" class="btn btn-primary">更新對戰紀錄</a>
    </section>
    <br/>
    <section>
        <form class="form-inline" action="/get_statistics_champion_use/{{summoner.account_id}}">
            <div class="form-group">
                <label for="lane">Lane</label>
                <input name="lane" type="text" class="form-control" id="lane" placeholder="BOTTOM">
            </div>
            <button class="btn btn-primary" type="submiit">submit</button>
        </form>
    </section>
</div>

{% endblock %}